@import "../../../../styles";

.upper-container {
  height: 150px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .info-container{
    margin-bottom: 15px;

    h1, h3 {
      font-size: 1rem;
      color: darkslategray;
    }

    .info-display {
      font-size: 1.3rem;
      color: $sat-blue
    }

  }

 .button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 300px;

   :first-child {
     background: $sat-green;

     color: white;

     height: 45px;
     width: 150px;

     transition: opacity, width, height 150ms;

     &:hover {
       width: 160px;
       height: 45px;
       filter: opacity(85%);
     }
   }


   .button-delete {

     height: 40px;
     width: 130px;

     transition: opacity, width, height 150ms;


     &:hover {
       width: 135px;
       height: 40px;
       filter: opacity(85%);
     }
   }
  }

}