@import "../../../../styles";

.upper-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {
      background: $sat-green;

      color: white;

      height: 45px;
      width: 150px;

      transition: opacity, width, height 150ms;

      &:hover {
        width: 160px;
        height: 45px;
        filter: opacity(85%);
      }
    }

  }

  > button {
    margin-top: 15px;

    height: 40px;
    width: 130px;

    transition: opacity, width, height 150ms;


    &:hover {
      width: 135px;
      height: 40px;
      filter: opacity(85%);
    }
  }

}

.lower-container {

}

@media screen and (min-width: 426px){
  .upper-container{
    display: flex;
    //flex-direction: row;
  }
}