<div class="upper-container">
    <section>
    <form #f="ngForm"  (ngSubmit)="onSubmit(f)" novalidate>
        <h3>Novo lançamento</h3>

        <mat-form-field class="field">
            <input
                    matInput
                    placeholder="Nome do produto"
                    [(ngModel)]="product.productName"
                    required
                    ngModel
                    name="productName"
            >
        </mat-form-field>

        <mat-form-field class="field">
            <input
                    matInput
                    placeholder="Quantia em estoque"
                    [(ngModel)]="product.stock"
                    ngModel
                    name="stock"
                    required
                    disabled
            >
        </mat-form-field>

        <mat-form-field class="field">
            <mat-label>Tipo de lançamento</mat-label>
            <mat-select
                    required
                    ngModel
                    name="type"
            >
                <mat-option *ngFor="let option of options" [value]="option.value"
                >
                    {{option.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="field">
            <input
                    matInput
                    type="number"
                    placeholder="Quantidade"
                    ngModel
                    name="quantity"
                    required
            >
        </mat-form-field>

        <button mat-raised-button [disabled]="f.invalid" type="submit">Lançar</button>

    </form>
    </section>

    <button mat-raised-button color="warn" (click)="deleteProduct()">Excluir produto</button>


</div>

<div class="lower-container">
<h5>Relatório de entradas</h5>
<app-report-name></app-report-name>
</div>