<mat-card>
    <mat-card-title>Novo produto</mat-card-title>

    <form #form="ngForm"  novalidate>
        <mat-form-field>
            <input
            matInput
            placeholder="Nome do produto"
            ngModel
            name="productName"
            required
            >
        </mat-form-field>

        <mat-form-field>
            <input
            matInput
            placeholder="Quantidade"
            ngModel
            name="stock"
            required
            >
        </mat-form-field>

        <div class="modal-button-container">

        <button mat-button class="modal-action-button" type="submit" [disabled]="form.invalid" [matDialogClose]="form">Adicionar</button>

        <button mat-button class="modal-cancel-button" matDialogClose>Cancelar</button>

        </div>
    </form>
</mat-card>