/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$sat-blue: rgb(6, 72, 116);
$sat-green: rgb(39, 181, 122);
$background: #fff;

.nav-hover {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 15px 10px 0 10px;
  height: 45px;
  width: 90%;

  background-color: $sat-green;
  color: #ffffff;

  border-radius: 8px;

  transition: opacity, width, height 150ms;

  &:hover {
    width: 93%;
    height: 45px;
    filter: opacity(85%);
  }
}

.full-width-table {
  width: 100%;
}

.modal-button-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  button {
    height: 40px;
    margin: 5px;
    text-align: center;

  }
  .modal-action-button{
    background-color: $sat-blue;
    color: white;
    width: 65%;
    &:disabled {
      filter: opacity(40%);
      color: white;
      &:hover{
        cursor: not-allowed;
      }
    }

  }
  .modal-cancel-button {
    background-color: lightgray;
    width: 50%;

  }
}

form {
  display: flex;
  flex-direction: column;
}

.msg-success {
  background-color: #28a745;
  color: #fff;
}

.msg-error {
  background-color: #e35e6b;
  color: #fff;
}
